################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/erp_pessoal/.vs
/.vs/erp_pessoal/v17
/.vs/erp_pessoal/CopilotIndices/17.14.794.21998
