################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/erp_pessoal/.vs
/.vs/erp_pessoal/v17
/.vs/erp_pessoal/CopilotIndices/17.14.794.21998
/erp_pessoal/obj/Debug/net9.0/erp_pessoal.AssemblyInfo.cs
/erp_pessoal/obj/Debug/net9.0/erp_pessoal.AssemblyInfoInputs.cache
/erp_pessoal/obj/Debug/net9.0/erp_pessoal.assets.cache
/erp_pessoal/obj/Debug/net9.0/erp_pessoal.GeneratedMSBuildEditorConfig.editorconfig
/erp_pessoal/obj/Debug/net9.0/rpswa.dswa.cache.json
